<div ng-app="authenticateApp" ng-controller="LoginController as loginController">
    <div id="page-overlay">
        <div id="info-display">
            <div id="login-logo">
                <img src="images/ncapsulate-logo.jpg" />
            </div>
            <div id="login-form">
                <h1>Encapsulate</h1>
                <div class="section-title">Twitter in a single view</div>
                <button ng-click="loginController.callTwitterOAuth()">Login with twitter</button>
            </div>
        </div>
    </div>
</div>